[submodule "external/gl3w"]
	path = external/gl3w
	url = https://github.com/skaslev/gl3w.git
[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw.git
	branch = latest
